pip install Jinja2
pip install simple-http-server-jinja
pip instlal python-lsp-server
pip install pandas
pip install tabulate
pip install openpyxl
pip install Flask
pip install Flask-SQLAlchemy
pip install Flask-Migrate
