<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<!-- <link href="custom.css" rel="stylesheet"> -->
	<link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet"/>

	<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
	<title>MCF: Event Registration Page</title>
    </head>
    <body>

	
	<div class="container mx-auto">
	    
	    {% block nav %} 
	    {% endblock %}


	    
	    {% block form %} 
	    {% endblock %}
	</div>

	<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

	<script>


	 /* bulk_upload_all_files_1 */




	 /* function initialise() {
	    myFunction();
	    anotherFunction();
	    } */



	 // NOTE-TO-SELF: from a syntax POV, jquery onready consuses, where function has no ()
	 /* $(document).ready(initialise); */

	 


	 function submitForm(){
	     var selValue = document.getElementById("downloadOffset").value;
	     console.log(selValue)
	     if (selValue != -1){
		 document.partialDownload.submit();
	     }
	 }

	 


	 $(window).on('load', function() {
	     var choiceCount = $( "#tournament_name option" ).length
	     console.log(choiceCount)
	     if (choiceCount == 0){
		 /* $('#memberEventForm button').hide()		  */
		 $('button[name]').hide()
	     }
	 }); 

	 





	</script>

	


    </body>
</html>

