{% extends "base_error_h.html" %}







{% block error %}

    <br><br>



    <div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
	<div>
	    <span class="text-lg">Event created: </span>
	    <br>
	    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">

		<tbody>
		    <tr class="text-xs  uppercase bg-gray-50 border-b border-gray-200">
			<th  class="text-orange-600 p-6 p-4">
			    Tournament Name
			</th>
			<td class="p-6 p-4">
			    {{ e.tournamentName }}
			</td>
		    </tr>
		    <tr>
			<th class="text-xs text-orange-600 uppercase bg-gray-50 p-6 p-4">
			    Start Date
			</th>
			<td class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200 p-6 p-4">
			    {{ e.startDate }}
			</td>
		    </tr>
		    <tr class="text-xs  uppercase bg-gray-50 border-b border-gray-200">
			<th class="text-xs text-orange-600 uppercase bg-gray-50 p-6 p-4">
			    End Date
			</th>
			<td class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200 p-6 p-4">
			    {{ e.endDate }}
			</td>
		    </tr>
		    <tr class="text-xs  uppercase bg-gray-50 border-b border-gray-200">
			<th class="text-xs text-orange-600 uppercase bg-gray-50 p-6 p-4">
			    Discipline
			</th>
			<td class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200 p-6 p-4">
			    {{ e.discipline }}
			</td>
		    </tr>
		    <tr class="text-xs  uppercase bg-gray-50 border-b border-gray-200">
			<td colspan = "2" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200 p-6 p-4">
			    <ul class="mt-2 list-disc list-inside">
			    <a href="{{ url_for('find_events') }}" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 " >Continue</a>
			</ul>
			</td>
		    </tr>


		</tbody>
	    </table>
	</div>
    </div>







{% endblock %}




