

{% extends "base_form_h.html" %}


{% block heading_1 %}
    Event
    <br>
    Creation
{% endblock %}


{% block form %}
    <!-- <h2>Create an event</h2> -->



<form id="event-form" action="{{ url_for('create_event') }}" method="post">
    <!-- <label for="MEMBER ID">MEMBER ID</label><br> -->
    <!-- <input type="text" id="MEMBER ID" name="MEMBER ID" value=""><br> -->
    <label for="tournamentName">Tournament Name</label>
    <input type="text" id="tournamentName" name="tournamentName" value=""><br>
    
    <label for="startDate">Start Date</label>
    <input type="date" id="startDate" name="startDate" value=""><br>
    
    <label for="endDate">End Date</label>
    <input type="date" id="endDate" name="endDate" value=""><br>
    
    <label for="discipline">Discipline</label>
    <!-- <input type="text" id="discipline" name="discipline" value=""><br> -->
    <select name="discipline" id="discipline">
	{% for l in el %}
	    <option value={{ l }}>{{ l }}</option>
	{% endfor %}
    </select>
				
    
    
    
    <!-- <input type="hidden" id="EVENT ID" name="EVENT ID" value=""><br> -->
    
    
    
    <!-- <label for="mylist">EVENTS</label> -->

    
    
    <input type="submit" value="Save to Database">
</form>
{% endblock %}

