{% extends "base_form_h.html" %}


{% block heading_1 %}
    Answers for Q1 event
{% endblock %}

{% block form %}


    <br>



    <table id="member_details" class="w-full table-auto border border-yellow-400 border-2 justify-items-center">
	<caption class="caption-top text-red-600 italic p-2">
	    {{ whatHappened }}
	</caption>
	<thead>

	    <tr>
		{% for membersAnswer in membersAnswers.values() %}
		    {% if loop.first %}

			{% for fieldname,answer in membersAnswer.items() %}
			    {% if answer.subgroupId is none %}
				<th class="w-20 p-4 bg-yellow-400">
				    {{ fieldname }}
				</th>
			    {% else %}
				<th class="w-20 p-4 border-x-2 border-yellow-600 bg-yellow-200 font-light">
				    {{ fieldname }}
				</th>
			    {% endif %}
			{% endfor %}



		    {% endif %}
		{% endfor %}

	    </tr>

	</thead>
	<tbody class="text-center">

	    {% for membersAnswer in membersAnswers.values() %}
		<tr class="border border-yellow-400 border-2">

		    {% if not loop.first %}			
			{% for question,answer in membersAnswer.items() %}
			    {% if answer.subgroupId is none %}
				<td class="w-20 p-4">
				    {{ answer["value"] }}
				</td>
			    {% else %}
				<td class="w-20 p-4 border-x-2 border-yellow-600 bg-yellow-200 font-light">
				    {{ answer["value"] }}
				</td>
			    {% endif %}
			    
			    

			{% endfor %}
			<!-- <td class="font-light border-l-2 border-yellow-600"></td>
			     <td class="w-20 p-4 font-light bg-yellow-200">
			     whait
			     </td> -->
		    {% endif %}
		</tr>
	    {% endfor %}
	</tbody>
    </table>

    <br>

    {% if membersAnswers %}
	<div class="grid grid-col-3 p-3">
	    <div class="items-center p-3">
		<div class="font-bold w-25">
		    <form action="{{ url_for('an_evt_ans_download_overwritten')  }}" name="anEventAnswerDownload">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<button id="anEventAnswerDownload"  type="submit" class="border border-gray  py-2 px-2 ">
			    Download
			</button>
			<input type="hidden" name="eventId" value={{ eventId }} />
		    </form>
		</div>
	    </div>	    
	</div>
    {% endif %}
    



{% endblock %}
