{% extends "base_form_h.html" %}




{% block heading_1 %}
Events
{% endblock %}


{%  block form %}

<br>


<table id="member_details" class="table-auto border border-yellow-400 border-2">
    <caption class="caption-top {{ 'text-orange-600' if 'Error' in whatHappened else 'text-green-600'}} italic p-2">
	{{ whatHappened }}
    </caption>
    <thead>
	<tr class="bg-yellow-400">
	    <th class="w-100">
		<div data-tooltip-target="tooltip-form-data-ID" class="m-3 justify-items-center">
		    ID
		    {% include 'questionMark.j2' %}
		</div>
		<div id="tooltip-form-data-ID" role="tooltip" placement="bottom" class="absolute z-10  inline-block border border-1 w-60 px-3 py-2 text-m font-light text-black transition-opacity opacity-0  duration-300 bg-white rounded-lg shadow-xl tooltip">
		    expired events in 
		    <span class="italic font-medium">
			
			red
		    </span>

		    
		</div>
	    </th>
	    <th class="w-100">
		<div class="m-3">Tourname Name</div>
	    </th>
	    <th>
		<div class="m-3">Start Date</div>
	    </th>
	    <th>
		<div class="m-3">End Date</div>
	    </th>
	    <th>
		<div class="m-3">Discipline</div>
	    </th>
	    <th>
		<div class="m-3">Type</div>
	    </th>
	    <th>
		<div class="m-3">Eligibility</div>
	    </th>
	    <th>
		<div class="m-3">Limitation</div>
	    </th>
	    <th>
		<div class="m-3">Rounds</div>
	    </th>
	    <th>
		<div class="m-3">Time Control</div>
	    </th>
	    <th>
		<div class="m-3">Withdrawal Clause</div>
	    </th>
	    <th>
		<div class="m-3">Form Creator</div>
	    </th>
	    <th>
		<div class="m-3">Form Answers</div>
	    </th>
	    <th>
		<div data-tooltip-target="tooltip-form-data-kill-descendent-button" class="m-3 justify-items-center">		    
		    <div >
			Kill Form Data			    
		    </div>
		    <div>
			
			{% include 'questionMark.j2' %}
		    </div>
		    <div id="tooltip-form-data-kill-descendent-button" role="tooltip" placement="bottom" class="absolute z-10  inline-block border border-1 w-60 px-3 py-2 text-m font-light text-black transition-opacity opacity-0  duration-300 bg-white rounded-lg shadow-xl tooltip">
			Kills all form data of a
			<span class="italic font-medium">
			    
			    specific event
			</span>
			, including all participants answers and overwritten submissions
			
		    </div>
		</div>
	    </th>

	    <th>
		<div class="m-3">Overwritten Submissions</div>

	    </th>
	    <th>
		<div   class="m-2 justify-items-center">
		    <div data-tooltip-target="tooltip-form-data-softdelete-button" class="flex" >			
			<div>			    
			    {% include 'softTrash.j2' %}
			</div>
			<div>			    
			    {% include 'questionMark.j2' %}
			</div>
		    </div>
		    <div id="tooltip-form-data-softdelete-button" role="tooltip"  class="absolute z-10  inline-block border border-1 w-60 px-3 py-2 text-m font-light text-black transition-opacity opacity-0  duration-300 bg-white rounded-lg shadow-xl tooltip pointer-events-none">
			<span class="italic font-medium">Expires</span>
			event and
			
			<span class="italic font-medium">kills</span>
			data in related entities containing this
			<span class="italic font-medium">
			    
			    specific event
			</span>

		    </div>
		</div>
	    </th>
	    <th>
		<div   class="m-2 justify-items-center">
		    <div data-tooltip-target="tooltip-form-data-kill-button" class="flex" >			
			<div>			    
			    {% include 'hardTrash.j2' %}
			</div>
			<div>			    
			    {% include 'questionMark.j2' %}
			</div>
		    </div>
		    <div id="tooltip-form-data-kill-button" role="tooltip" placement="bottom" class="absolute z-10  inline-block border border-1 w-60 px-3 py-2 text-m font-light text-black transition-opacity opacity-0  duration-300 bg-white rounded-lg shadow-xl tooltip">
			
			<span class="italic font-medium">Kills</span>
			this event and data in related entities containing this
			<span class="italic font-medium">
			    
			    specific event
			</span>
			, including all participants answers and overwritten submissions		    
		    </div>
		</div>
	    </th>
	</tr>
    </thead>
    <tbody>
	{% for e in es %}
	<tr class="border border-yellow-400 border-2">
	    
	    
	    <td>
		<div class="{{ 'text-orange-600 italic' if e.deleted_at }}">
		    <div class="m-3">{{ e.id }}</div>
		</div>
	    </td>
	    <td>
		<div class="m-3">{{ e.tournamentName }}</div>
	    </td>
	    <td>
		<div class="m-3">{{ e.startDate }}</div>
	    </td>
	    <td>
		<div class="m-3">{{ e.endDate }}</div>
	    </td>
	    <td>
		<div class="m-3">{{ e.discipline }}</div>
	    </td>
	    <td>
		<div class="m-3">{{ e.type }}</div>
	    </td>
	    <td>
		<div class="m-3">{{ e.eligibility }}</div>
	    </td>
	    <td>
		<div class="m-3">{{ e.limitation }}</div>
	    </td>
	    <td>
		<div class="m-3 justify-items-center">
		    <div> {{ e.rounds }} </div>
		</div>
	    </td>
	    <td>
		<div class="m-3 justify-items-center">
		    <div> {{ e.timeControl }} </div>
		</div>
	    </td>
	    <td>
		<div class="m-3">{{ e.withdrawalClause }}</div>
	    </td>
	    <td>
		{% if not e.deleted_at  %}
		    <form  action="{{ url_for('event_form_creator')  }}" method="post" onsubmit="return submitFormCreator();">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<div class="m-3">
			    <input type="hidden" name="eventId" value={{ e.id }} />
			    
			    <button name="button" value="start_create" type="submit" class="w-20 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">				
				Form Creator
			    </button>
			</div>
		    </form>
		{% endif %}
	    </td>
	    <td>
		{% if not e.deleted_at  %}
		    
		    <form action="{{ url_for('event_answers_page')  }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<div class="m-3">
			    <input type="hidden" name="eventId" value={{ e.id }} />
			    
			    <button name="button" value="start_create" type="submit" class="w-20 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">				
				Form Answers
			    </button>
			</div>
		    </form>
		{% endif %}
	    </td>
	    <td>
		{% if not e.deleted_at  %}
		    <div class="m-3" >
			<form action="{{ url_for('kill_form_descendents')  }}" method="post">
			    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			    <div class="m-3">
				<input type="hidden" name="eventId" value={{ e.id }} />
				
				<button type="submit" class="w-30 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 cursor-pointer">				
				    kill form descendents
				</button>
			    </div>
			</form>
		    </div>
		{% endif %}

	    </td>

	    <td>
		{% if not e.deleted_at  %}
		    <form action="{{ url_for('event_answers_page_overwritten')  }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<div class="m-3">
			    <input type="hidden" name="eventId" value={{ e.id }} />
			    
			    <button name="button" value="start_create" type="submit" class="w-25 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">				
				overwritten
			    </button>
			</div>
		    </form>
		{% endif %}
	    </td>
	    <td>
		{% if not e.deleted_at  %}
		    <div   class="m-2 justify-items-center">
			<form action={{ url_for('expire_event', id=e.id )}}  method="get" onsubmit="return MCFeventSoftKillEvent();">
			    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			    <button type="submit" class="p-2 cursor-pointer">
				<a>
				    {% include 'softTrash.j2' %}
				</a>			
			    </button>
			</form>
		    </div>
		{% endif %}

	    </td>
	    <td>
		<div   class="m-2 justify-items-center cursor-pointer">
		    <form action={{ url_for('kill_event')}}  method="post" onsubmit="return MCFeventKillEvent();">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<input type="hidden" name="id" value="{{ e.id }}"/>
			<input type="hidden" name="deleted_at" value="{{ e.deleted_at }}"/>
			<button type="submit" class="p-2 m-2 cursor-pointer">
			    
			    <a>{% include 'hardTrash.j2' %}</a>
			</button>
		    </form>
		</div>

	    </td>

	</tr>
	{% endfor %}
	<tr>
	    <td colspan="15"></td>
	    <td>
		<div class="m-3">
		    <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">

			<a href={{ url_for('kill_events')}}>Remove All</a>      
		    </button>
		</div>			
	    </td>
	    <td>
		<div class="m-2">
		    <button type="submit" class="w-full rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">

			<a href={{ url_for('event_create')}}>Add Event</a>      
		    </button>
		</div>
	    </td>
	</tr>
    </tbody>
</table>



{% endblock %}


