<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css" rel="stylesheet">
	
	<title>Thank You</title>
    </head>
    <body>

	<h2>Great Post</h2>

	
	<div class="container">
	    <!-- ==================== -->

	    <table id="post" class="one-third.column {">
		<tbody>
		    <tr>
			<th>
			    Your post:
			</th>
			<td>{{ p }}</td>
		    </tr>

		    
		    <!-- <tr>
			 <td id = "event_date"></td>
			 <td id = "event_format"></td>
			 <td id = "no_of_rounds"></td>
			 <td id = "gender"></td>			  
			 <td id ="cat"></td>
			 <td id ="subcat"></td>
			 <td id ="cost"></td>
			 </tr> -->
		</tbody>
	    </table>

	</div>
    </body>
</html>

