{% extends "base_form_h.html" %} 




{% block heading_1 %}
    MCF Event Registration System
{% endblock %}




{% block form %}


    <br>
    <table id="event_details" class="table-auto border border-yellow-400">
	<caption class="caption-top {{ 'text-red-600' if ("Error" or "killed") in whatHappened else 'text-green-600' }} italic p-2">
	    {{ whatHappened }}
	</caption>
	<tbody>
	    
	    
	    

		
	    <tr class="borders border-yellow-400  border-2">
		<th class="bg-yellow-400"><div class="p-4 justify-items-center">
		    MCF files
		    <div class="p-2">
			<img src="{{ url_for('static', filename='mcf-logo-v2.png') }}" class="h-8" alt="MCF Logo" />
		    </div>
		</div></th>
		<td>
		    
		    <form action="{{ url_for('bulk_upload_all_files_1')  }}" method="post" enctype="multipart/form-data" data-tooltip-target="tooltip-files-allowed">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<div class="m-2 mb-5">
			    <label class="block m-2 text-sm font-medium text-gray-900 dark:text-white" for="file1">Upload MCF file</label>
			    <input  type="file" name="file1" class="border border-gray-500">
			</div>
			<div class="m-3">
			    
			    <button type="submit" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">Upload</button>
			</div>
		    </form>
		</td>
		    	    <tr class="borders border-yellow-400  border-2">
		<th class="bg-yellow-400">FRL files</th>
		<td>
		    <form action="{{ url_for('bulk_upload_all_files_2')  }}" method="post" enctype="multipart/form-data" data-tooltip-target="tooltip-files-allowed">
			<div  class="m-2 mb-5">
			    <label class="block m-2 text-sm font-medium text-gray-900 dark:text-white" for="file2">Upload FRL file</label>
			    <input  type="file" name="file2" class="border border-gray-500">
			</div>
			<div class="m-3">
			    
			    <button type="submit" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">Upload</button>
			</div>
		    </form>
		</td>

		    <div id="tooltip-files-allowed" role="tooltip" placement="bottom" class="absolute z-10  inline-block border border-1 w-60 px-3 py-2 text-m font-medium text-black transition-opacity opacity-0  duration-300 bg-white rounded-lg shadow-xl tooltip">
			Upload file must be named *mcf*.csv or *frl*.csv (Eg: mcf_9201.csv OR mcf.csv). Mapping of column names are fixed. If you have custom headers, inform the Web Admin

		    </div>

		    
		    
		</td>
	    </tr>

	    <tr class="borders border-yellow-400  border-2">
		<th class="bg-yellow-400">
		    <div class="p-2 justify-items-center">
		    Insert
			<img src="{{ url_for('static', filename='mcf-logo-v2.png') }}" class="h-8" alt="MCF Logo" />
		    </div>
		</th>
		<td>
		    <div class="m-3">



			<a href="{{ url_for('bulk_process_all_mcf') }}" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 " >Insert MCF file</a>      
			
			
			
		    </div>
		</td>
	    </tr>
	    <tr class="borders border-yellow-400  border-2">
		<th class="bg-yellow-400">Insert</th>
		<td>
		    <div class="m-3">



			<a href="{{ url_for('bulk_process_all_frl') }}" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 " >Insert FRL file</a>      
			
			
			
		    </div>
		</td>
	    </tr>

	    <tr class="borders border-yellow-400  border-2">
		<th class="bg-yellow-400">Update</th>
		<td>
		    <div class="m-3">



			<a href="{{ url_for('bulk_update_all_mcf') }}" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 " >Update MCF file</a>
			<div class="m-3">
			    
			    (keep records small)
			</div>
			
			
		    </div>
		</td>
	    </tr>

	    <tr class="borders border-yellow-200  border-2">
		<th class="bg-yellow-200 p-4">Test: Upload log</th>
		<td class="bg-yellow-200">
		    <div class="m-3">
			<a href="{{ url_for('display_files_uploaded') }}" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 " onclick="return false;">Goooo..</a>

			
			
		    </div>
		</td>
	    </tr>

	    <tr class="borders border-yellow-200  border-2">
		<th class="bg-yellow-200">Kill All Form Elements (questions, subgroup and answers)</th>
		<td class="bg-yellow-200">
		    <div class="m-3">


			
			
		    </div>
		    <button type="submit" class="p-4">				
			<a href={{ url_for('kill_form_descendents')}} onclick="return false;">{% include 'trash.j2' %}</a>
		    </button>
		</td>
	    </tr>


	    
	    

	    

	    
	    
	    
	    


	    <tr class="borders border-yellow-400  border-2">
		<td colspan="2">
		    <div class="m-3">
			{% if newList %}

			    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
				    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
					<tr>
					    <th scope="col" class="px-6 py-3">
						Total new records
					    </th>
					</tr>
				    </thead>
				    <tbody>
					<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
					    
					    <td class="px-6 py-4">
						{{ newList|length }}
					    </td>
					</tr>
				    </tbody>
				</table>
			    </div>

			{% endif %}
			{% if updatesList %}

			    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
				    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
					<tr>
					    <th scope="col" class="px-6 py-3">
						Total updated records
					    </th>
					</tr>
				    </thead>
				    <tbody>
					<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
					    
					    <td class="px-6 py-4">
						{{ updatesList|length }}
					    </td>
					</tr>
				    </tbody>
				</table>
			    </div>

			{% endif %}
			{% if failedUpdatesList %}
			    
			    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
				    <thead class="text-xs text-orange-600 uppercase bg-gray-50">
					<tr>
					    <th scope="col" class="px-6 py-3">
						Total Fail Updates
					    </th>
					</tr>
				    </thead>
				    <tbody>
					<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
					    
					    <td class="px-6 py-4">
						{{ failedUpdatesList|length }}
					    </td>
					</tr>
				    </tbody>
				</table>
			    </div>

			{% endif %}
			{% if skippedList %}
			    
			    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
				    <thead class="text-xs text-orange-600 uppercase bg-gray-50">
					<tr>
					    <th scope="col" class="px-6 py-3">
						Total Skipped Records
					    </th>
					</tr>
				    </thead>
				    <tbody>
					<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
					    
					    <td class="px-6 py-4">
						{{ skippedList|length }}
					    </td>
					</tr>
				    </tbody>
				</table>
			    </div>

			{% endif %}
			



		    </div>
		</td>
	    </tr>

	    
	</tbody>
    </table>







{% endblock %}



