{% extends "base_form_h.html" %}




{% block heading_1 %}
    Event
    <br>
    Registration
{% endblock %}


{% block form %}


    <br>

    <!-- ==================== -->

    <form action="{{ url_for('member_front')  }}" method="post">

	<table class="w-full">

	    <caption class="caption-top text-green-600 italic p-2">
		{{ whatHappened }}
	    </caption>
	    <tbody>
		<tr>
		    <th>
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				MCF ID
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-400">
			<div class="m-2">
			    {{ m.mcfId }}
			    <input  name="mcfId" value="{{ m.mcfId }}" hidden>
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				MCF Name
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-400">
			<div class="m-2">
			    

			    {{ m.mcfName }}
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				Gender
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-400">
			<div class="m-2">
			    {{ m.gender }}
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				Year of Birth
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-400">
			<div class="m-2">
			    {{ m.yearOfBirth }}
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				State
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-400">
			<div class="m-2">
			    {{ m.state }}
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				National Rating
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-400">
			<div class="m-2">
			    {{ m.nationalRating }}
			</div>
		    </td>
		</tr>
		<tr>
		    <th>
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				Events Registered
			    </label>		    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-400">
			
			<div class="m-2">
			    <ul class="max-w-md space-y-1 list-disc list-inside ">
				    {% for l in tournamentRegistered %}
				<li>
					{{ l }}
				</li>
				    {% endfor %}				
			    </ul>
			    

			    <!-- <button type="submit" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">Save event</button> -->
			</div>
    </form>
		    </td>
		</tr>

		<tr>
		    <td colspan="2">
			<table class="w-full text-sm text-left">
			    <thead class="text-xs text-gray-700 uppercase">

				<div class="m-5"></div>
			    </thead>
			</table>
		    </td>
		</tr>


		
		<tr>
		    <th>
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				Change Events?
			    </label>		    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-400">
			
			<div class="m-2">
			    <select name="tournament_name" id="tournament_name">
				{% for l in tournamentOptions %}
				    <option value={{ l.id }}>{{ l.tournamentName }}</option>
				{% endfor %}
			    </select>

			    <!-- <button type="submit" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">Save event</button> -->
			</div>
		    </td>
		</tr>
		<tr>
		    <th></th>
		    <td class="bg-yellow-400">
			
			
			<div class="m-2">
			    
			    <button type="submit" name="button" value="save" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">Save event</button>
			</div>
		    </td>
		</tr>
		<tr>
		    <th></th>
		    <td class="bg-yellow-400">

			
			<div class="m-2">
			    <button type="submit" name="button" value="delete" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">Delete event</button>
			</div>
		    </td>
		</tr>
		

		<tr>

		    <td  colspan="2">
			<div class="p-5">

			    {% if m.fideId %}
				<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++
				     ++++++++++++++++++++++++++++++++++++++++++++++++++ -->

				<table  class="border border-2 w-100">
				    <tbody>
					<tr class="bg-yellow-200">
					    <th  class="border border-b-0 border-t-2" colspan="2">
						<div  class="pt-2 pl-4 pr-4 text-left">
						    <label for="fideId" class="block text-gray-900 text-sm">FIDE ID</label>
						</div>
					    </th>
					</tr>
					<tr class="bg-yellow-200">
					    
					    <td colspan="2">
						<div class="pb-2 pl-4 pr-4">			
						    <input type="text" id="fideId" name="fideId" value="{{ m.fideId }}" readonly><br>
						</div>
					    </td>
					</tr>
					<tr class="bg-yellow-200 border-yellow-400">
					    <th class="border border-b-0 border-t-2" colspan="2">
						<div  class="pt-2 pl-4 pr-4 text-left">
						    <label for="fideName" class="block text-gray-900 text-sm">FIDE Name</label>
						</div>
					    </th>
					</tr>
					<tr class="bg-yellow-200">
					    
					    <td colspan="2">
						<div class="pb-2 pl-4 pr-4">			
						    <input type="text" id="fideName" name="fideName" value="{{ m.fideName }}" readonly><br>
						</div>
					    </td>
					</tr>
					<tr class="bg-yellow-200">
					    <th  class="border border-b-0 border-t-2" colspan="2">
						<div  class="pt-2 pl-4 pr-4 text-left">
						    <label for="fideRating" class="block text-gray-900 text-sm">FIDE Rating</label>
						</div>
					    </th>
					</tr>
					<tr class="bg-yellow-200">
					    
					    <td colspan="2">
						<div class="pb-2 pl-4 pr-4">			
						    <input type="text" id="fideRating" name="fideRating" value="{{ m.fideRating }}" readonly><br>
						</div>
					    </td>
					</tr>
				    </tbody>
				</table>


					<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++
					     ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
			    {% else %}
				<a href="{{ url_for('single_member_fide', mcfId=m.mcfId) }}" class="block p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-200">
				    {% include 'fideSvg.j2' %}
				    <h5 class="m-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Do you have FIDE details? </h5><span class="m-3 italic">Help us fill it</span>
				</a>
			    {% endif %}
			</div>
		    </td>
		</tr>

		
	    </tbody>
	</table>
    </form>




    <br>
    <br>


    <br>


    <br>
    <br>
    <br>


{% endblock %}














