{% extends "base_form_h.html" %}




{% block heading_1 %}
    Event
    <br>
    Registration
{% endblock %}


{% block form %}


    <br>

    <!-- ==================== -->



	<table class="w-full">

	    <caption class="caption-top {{ 'text-orange-600' if "Error" in whatHappened else
					('text-blue-600' if "Info" in whatHappened else'text-green-600') 					
					}} italic p-2">
		{{ whatHappened }}
	    </caption>
	    <tbody>
		<tr>
		    <th>
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				MCF ID
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-200">
			<div class="m-2 font-light">
			    {{ m.mcfId }}
			    <input   name="mcfId" value="{{ m.mcfId }}" hidden>
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				MCF Name
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-200">
			<div class="m-2 font-light">
			    

			    {{ m.mcfName }}
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				Gender
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-200 font-light">
			<div class="m-2">
			    {{ m.gender }}
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				Year of Birth
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-200 font-light">
			<div class="m-2">
			    {{ m.yearOfBirth }}
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				State
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-200 font-light">
			<div class="m-2">
			    {{ m.state }}
			</div>
		    </td>
		</tr>

		<tr>
		    <th >
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				National Rating
			    </label>
			    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-200 font-light">
			<div class="m-2">
			    {{ m.nationalRating }}
			</div>
		    </td>
		</tr>
		<!-- ================================================== -->
		<form action="{{ url_for('member_front')  }}" method="post" name="memberEventForm" id="memberEventForm">
		    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		    <tr>
		    <th>
			<div class="m-3 text-right">
			    <label class="block text-gray-900 text-sm">
				Events Registered
			    </label>		    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-200">
			
			<div class="m-2 font-light">
			    <!-- <ul class="max-w-md space-y-1 list-disc list-inside "> -->
			    {% for tr in tournamentRegistered %}
				<div class="flex pt-2">
				    <div class="grid grid-flow-col justify-start">
					
					{{ tr.tournamentName }}
				    </div>				    
				    <div class="mx-2">
					<button type="submit" name="button"  value={{ "fillForm_" + tr.id|string }} class="w-20 rounded-md bg-white py-2 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 cursor-pointer">Fill Form</button>
				    </div>
				    <div class="mx-2">
					<button data-modal-target="confirmWithdrawal" type="submit" name="button" id={{ "eventDeleteButton_" + tr.id|string }} value={{ "withdraw_" + tr.id|string }}  class="w-20 rounded-md bg-white py-2 border text-center text-sm font-bold text-red-700 transition-all shadow-md hover:shadow-xl focus:bg-grey-700 hover:bg-red-700 hover:text-white hover:font-bold cursor-pointer">Withdraw</button>

				    </div>


				    
				</div>
				    <!-- <li> -->
					<!-- </li> -->
				{% endfor %}				
				<!-- </ul> -->
			    

			    <!-- <button type="submit" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">Save event</button> -->
			</div>

		    </td>
		</tr>
		<tr>
		    <th>
			<div class="flex m-3 text-right content-end justify-end">
			    <label class="inline-flex text-gray-900 text-sm">


				    <span >Proof of payment</span>

				    <div class="ml-2">					
				{% include 'proofOfPayment.j2' %}
				    </div>



			    </label>		    
			    <!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			</div>
		    </th>
		    <td class="bg-yellow-200">
			
			<div class="m-2 font-light">
			    <ul>
				
			    </ul class="max-w-md space-y-1 list-disc list-inside ">
			    {% if paymentProofs %}
				{% for file in  paymentProofs %}

				    <li>
					
					{{ file.originalFilename }}
				    </li>
				{% endfor %}
			    {% else %}
				<span class="text-red-700 font-normal">
				    
				    no payment uploaded
				</span>
			    {% endif %}
			    

			    <!-- <button type="submit" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">Save event</button> -->
			</div>

		    </td>
		</tr>
				
		<tr>
		    <td colspan="2">
			<table class="w-full text-sm text-left">
			    <thead class="text-xs text-gray-700 uppercase">

				<div class="m-5"></div>
			    </thead>
			</table>
		    </td>
		</tr>


		    <tr>
			<th>
			    <div class="m-3 text-right">
				<label class="block text-gray-900 text-sm">
				    Change Events?
				</label>		    
				<!-- <input type="email" id="email" class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required /> -->
			    </div>
			</th>
			<td class="bg-yellow-400 w-100">
			    <div class="flex">
			    
				<div class="m-2">
				    <select name="tournament_name" id="tournament_name">
					{% for to in tournamentOptions %}
					    <option value={{ to.id }}>
						{{ to.tournamentName }}
					    </option>
					{% endfor %}
				    </select>
				</div>

				<!-- <button type="submit" class="w-1/2 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 ">Save event</button> -->

			    </div> 
			
			</td>
		    </tr>
		    <tr>
			<th></th>
			<td class="bg-yellow-400">			   			    
			    <div class="m-2">			    
				<button type="submit" name="button" id="eventSaveButton" value="save" class="w-30 rounded-md bg-white py-2 px-4 border text-center text-sm text-black transition-all shadow-md hover:shadow-xl focus:bg-white-700 hover:bg-white-700 cursor-pointer">Register event</button>
			    </div>
			</td>
		    </tr>		    
		</form>
		
		<!-- ================================================== -->
		<tr>
		    <td colspan="2">
			<table class="w-full text-sm text-left">
			    <thead class="text-xs text-gray-700 uppercase">

				<div class="m-5"></div>
			    </thead>
			</table>
		    </td>
		</tr>
		<!-- =============================================== === -->


		
		<tr>

		    <td  colspan="2">
			<div class="p-5">

			    {% if m.fideId %}
				<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++
				     ++++++++++++++++++++++++++++++++++++++++++++++++++ -->

				<table  class="border border-2 w-100">
				    <tbody>
					<tr class="bg-yellow-200">
					    <th  class="border border-b-0 border-t-2" colspan="2">
						<div  class="pt-2 pl-4 pr-4 text-left">
						    <label for="fideId" class="block text-gray-900 text-sm">FIDE ID</label>
						</div>
					    </th>
					</tr>
					<tr class="bg-yellow-200">
					    
					    <td colspan="2">
						<div class="pb-2 pl-4 pr-4">			
						    <input type="text" id="fideId" name="fideId" value="{{ m.fideId }}" readonly><br>
						</div>
					    </td>
					</tr>
					<tr class="bg-yellow-200 border-yellow-400">
					    <th class="border border-b-0 border-t-2" colspan="2">
						<div  class="pt-2 pl-4 pr-4 text-left">
						    <label for="fideName" class="block text-gray-900 text-sm">FIDE Name</label>
						</div>
					    </th>
					</tr>
					<tr class="bg-yellow-200">
					    
					    <td colspan="2">
						<div class="pb-2 pl-4 pr-4">			
						    <input type="text" id="fideName" name="fideName" value="{{ m.fideName }}" readonly><br>
						</div>
					    </td>
					</tr>
					<tr class="bg-yellow-200">
					    <th  class="border border-b-0 border-t-2" colspan="2">
						<div  class="pt-2 pl-4 pr-4 text-left">
						    <label for="fideRating" class="block text-gray-900 text-sm">FIDE Rating</label>
						</div>
					    </th>
					</tr>
					<tr class="bg-yellow-200">
					    
					    <td colspan="2">
						<div class="pb-2 pl-4 pr-4">			
						    <input type="text" id="fideRating" name="fideRating" value="{{ m.fideRating }}" readonly><br>
						</div>
					    </td>
					</tr>
				    </tbody>
				</table>


				<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++
				     ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
			    {% else %}
				<a href="{{ url_for('single_member_fide', mcfId=m.mcfId) }}" class="block p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-200">
				    {% include 'fideSvg.j2' %}
				    <h5 class="m-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Do you have FIDE details? </h5><span class="m-3 italic">Help us fill it</span>
				</a>
			    {% endif %}
			</div>
		    </td>
		</tr>

		
	    </tbody>
	</table>







	<div id="confirmWithdrawal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden border-2 overflow-y-auto overflow-x-hidden fixed top-1/3 justify-center items-center" >
	    <div class="relative w-full max-w-2xl max-h-full">
		<!-- Modal content -->
		<div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
		    <!-- Modal header -->
		    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
			<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
			    Conditional Withdrawal Clause
			</h3>
		    </div>
		    <!-- Modal body -->
		    <div class="p-4 md:p-5 space-y-4">
			<p id="confirmWithdrawalText" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">

			</p>

		    </div>
		    <!-- Modal footer -->
		    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
			<button id="confirmWithdrawalButton"  type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
			<button id="cancelWithdrawalButton"  type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
		    </div>
		</div>
	    </div>
	</div>



    <br>
    <br>


    <br>


    <br>
    <br>
    <br>


{% endblock %}














