

{% extends "base_form_h.html" %}


{% block heading_1 %}
    Event
    <br>
    Creation
{% endblock %}


{% block form %}
    <!-- <h2>Create an event</h2> -->



    <form id="event-form" action="{{ url_for('reset_password') }}" method="post">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<input type="hidden" name="token" value="{{ csrf_token() }}"/>
	<!-- <label for="MEMBER ID">MEMBER ID</label><br> -->
	<!-- <input type="text" id="MEMBER ID" name="MEMBER ID" value=""><br> -->
	<label for="password">New Password</label>
	<input type="text" id="newPassword" name="newPassword" value=""><br>

	{{ token }}


	<br>


	<br>

	
	
	
	<!-- <input type="hidden" id="EVENT ID" name="EVENT ID" value=""><br> -->
	
	
	
	<!-- <label for="mylist">EVENTS</label> -->

	
	
	<!-- <input type="submit" value="Submit"> -->
    </form>
{% endblock %}

