{% extends "base_form_h.html" %}




{% block heading_1 %}
    All Withdrawal Logs
{% endblock %}


{%  block form %}

    <br>


    <table  class="table-auto border border-yellow-400 border-2">
	<caption class="caption-top {{ 'text-orange-600' if "Error" in whatHappened else
				    ('text-blue-600' if "Info" in whatHappened else'text-green-600') 					
				    }} italic p-2">	    
	    {{ whatHappened }}
	</caption>
	<thead>
	    <tr class="bg-yellow-400">
		<th class="w-100">
		    <div class="m-3">ID</div>
		</th>
		<th class="w-100">
		    <div class="m-3">MCF ID</div>
		</th>
		<th>
		    <div class="m-3">MCF Name</div>
		</th>
		<th>
		    <div class="m-3">Email</div>
		</th>
		<th>
		    <div class="m-3">Event ID</div>
		</th>
		<th>
		    <div class="m-3">Event Name</div>
		</th>
		<th>
		    <div class="m-3">Withdrawn at</div>
		</th>
	    </tr>
	</thead>
	<tbody>
	    {% for w in ws %}
		<tr class="border border-yellow-400 border-2">
		    

		    
		    <td>
			<div class="m-3">{{ w.id }}</div>
		    </td>
		    <td>
			<div class="m-3">{{ w.mcfId }}</div>
		    </td>
		    <td>
			<div class="m-3">{{ w.mcfName }}</div>
		    </td>
		    <td>
			<div class="m-3">{{ w.email }}</div>
		    </td>
		    <td>
			<div class="m-3">{{ w.eventId }}</div>
		    </td>
		    <td>
			<div class="m-3">{{ w.tournamentName }}</div>
		    </td>
		    <td>
			<div class="m-3">{{ w.created_at }}</div>
		    </td>






		    

		</tr>
	    {% endfor %}

	    
	</tbody>
    </table>



{% endblock %}


